# Variables
# =============================================================================
# Personal paths
export DOTFILES="$HOME/.dotfiles"
export DEV="$HOME/Dev"

# PHP version
command -v php &>/dev/null && \
  export PHPVERSION=$(php -v | head -n 1 | cut -d " " -f 2 | cut -c -3)

# XDG paths
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local"

# Path
# =============================================================================
paths=(
  ./bin
  $DOTFILES/bin
  $HOME/bin
  $XDG_DATA_HOME/bin
  $HOME/.linuxbrew/bin
  $HOME/.pyenv/shims
  $HOME/.pyenv/bin
  $HOME/.rbenv/shims
  $HOME/.rbenv/bin
  $FZF_BASE/bin
  $HOME/.zinit/polaris/bin
  ./node_modules/.bin
)

for p in ${paths[@]}
do
  [ -d "$p" ] && export PATH=$p:$PATH
done
unset p paths

# Editor
# =============================================================================
command -v nvim > /dev/null && export EDITOR="nvim" VISUAL="$EDITOR"

# Exa (121, 75, 33)
# =============================================================================
# https://www.mankier.com/1/exa#Examples
command -v exa &>/dev/null && \
  export EXA_COLORS="\
  uu=38;5;226:\
  da=38;5;244:\
  in=38;5;239:\
  lp=38;5;81:\
  *.md=38;5;226:\
  *.log=38;5;248\
  "

# fzf
# =============================================================================
#export FZF_DEFAULT_OPTS="--layout=reverse --height 40%"

export FZF_BASE="${HOME}/.fzf"

[ -n "$NVIM_LISTEN_ADDRESS" ] && export FZF_DEFAULT_OPTS=" \
  --ansi --preview-window 'right:60%' --layout reverse --margin=1,4 --preview 'bat --color=always --style=header,grid --line-range :300 {}'"
  #--layout=reverse --no-height
  #--color=fg:#c0c5ce,bg:#212121,hl:#808080,fg+:#e6e6e6,bg+:#3b3b3b,hl+:#f7c662 \
  #--color=info:#f7c662,prompt:#6699cc,pointer:#a6bc69,marker:#a6bc69,spinner:#f7c662,header:#6699cc"


# Gem
# =============================================================================
# https://stackoverflow.com/questions/35048760/is-there-a-gemrc-local-or-equivalent
# https://docs.ruby-lang.org/en/2.1.0/Gem/ConfigFile.html
if [ -f "${XDG_DATA_HOME}/.gemrc.local" ]; then
  export GEMRC="${XDG_DATA_HOME}/.gemrc.local"
fi

# Go
# =============================================================================
if command -v go &>/dev/null; then
  export GOPATH=$HOME/Projects/go
  export GOROOT=/usr/local/opt/go/libexec
  export PATH=$PATH:$GOPATH/bin
  export PATH=$PATH:$GOROOT/bin
fi


# Mysql
# =============================================================================
if command -v mysql &>/dev/null; then
  if [ -d "$XDG_DATA_HOME/share/mysql" ]; then
    export MYSQL_HISTFILE="$XDG_DATA_HOME/share/mysql/.mysql_history"
  fi
fi

# Node
# =============================================================================
if command -v node &>/dev/null; then
  if [ -d "$XDG_DATA_HOME/share/node" ]; then
    export NODE_HISTFILE="$XDG_DATA_HOME/share/node/.node_history"
  fi
fi

# Pager
# =============================================================================
if command -v most &>/dev/null; then
  export PAGER='most'
else
  export PAGER='less'
  export LESSCHARSET="UTF-8"
  export LESSHISTFILE='-'
  export LESSEDIT='vim ?lm+%lm. %f'
  export LESS='-F -g -i -M -R -S -w -X -z-4'
fi

# Highlight section titles in manual pages.
export LESS_TERMCAP_mb=$'\e[01;31m'      # begin blinking
export LESS_TERMCAP_md=$'\e[01;31m'      # begin bold
export LESS_TERMCAP_me=$'\e[0m'          # end mode
export LESS_TERMCAP_se=$'\e[0m'          # end standout-mode
export LESS_TERMCAP_so=$'\e[00;47;30m'   # begin standout-mode
export LESS_TERMCAP_ue=$'\e[0m'          # end underline
export LESS_TERMCAP_us=$'\e[01;32m'      # begin underline

# Python
# =============================================================================
#if command -v python > /dev/null; then
#  export PYTHONVERSION=$(python -V | cut -d' ' -f2 | cut -d '.' -f1-2)
#  export PYTHONIOENCODING="UTF-8"
#  export PYTHONPATH="$HOME/.pyenv/versions/python_3/lib/python$PYTHONVERSION/site-packages"
#fi

# Pyenv
# =============================================================================
# pyenv-virtualenv: prompt changing will be removed from future release
if command -v pyenv > /dev/null; then
  export PYENV_ROOT="~/.pyenv"
fi

# Rbenv
# =============================================================================
if command -v rbenv > /dev/null; then
  export RBENV_ROOT="~/.rbenv"
fi

# SSH
# =============================================================================
export SSH_KEY_PATH="~/.ssh/id_rsa"

# Tmux
# =============================================================================
command -v tmux &>/dev/null && \
  export DEFAULT_TMUX_SESSION="default"

# Terminal
# =============================================================================
export TERM="xterm-256color"

# Vagrant
# =============================================================================
command -v vagrant &>/dev/null && \
  export VAGRANT_VERSION=$(vagrant --version | cut -d " " -f 2)

# Zsh
# =============================================================================
if [ -n "$ZSH_VERSION" ]; then
  # History
  # ---------------------------------------------------------------------------
  if [ -d "$XDG_DATA_HOME/share/zsh" ]; then
    export zsh_HISTFILE="$XDG_DATA_HOME/share/zsh/.zsh_history"
  fi
  export HIST_STAMPS="dd-mm-yyyy"

  # Oh-my-zsh
  # ---------------------------------------------------------------------------
  export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR=/usr/local/share/zsh-syntax-highlighting/highlighters
fi


# vim: set ft=bash:
