! File    : ~/.Xresources
! Author  : ca971
! Source  : https://github.com/ca971/dotfiles
!
! Default X settings for XTerm & URxvt, apply with:
!   xrdb -load ~/.Xresources

*.foreground:  #bbbbbb
*.background:  #121212
*.cursorColor: #bbbbbb
